@import "../../../assets/styles/variablers";

._container {
  padding-top: 100px;
}
.especialidades {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
  &-column {
    &_item {
      color: $text-primary;
      margin: 0;
      padding: 10px 15px;
      border-radius: 3px;
      cursor: pointer;
      transition: 0.1s;
    }
    &_item:hover {
      color: $primary;
      background: $background;
    }
  }
}

@media screen and (max-width: 768px) {
  .especialidades {
    flex-wrap: wrap;
    &-column {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      &_item {
        display: inline;
        padding: 10px 6px;
      }
    }
  }

}
