@import "../../../assets/styles/variablers";

header {
  background: url("../../../assets/images/main-background.png");
  background-position: center;
  height: 690px;
  .header-content {
    padding-top: 200px;
    width: 714px;
    h4 {
      font-weight: normal;
      color: $text-secondary;
    }
    .buttons-group {
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      &_item {
        height: 100%;
        width: 100%;
        padding: 0 24px;
        border: none;
        cursor: pointer;
      }
      &_item:first-child {
        margin-right: 1px;
        min-width: 360px;
      }
      .dropdown-button {
        background: white;
      }
      button.buttons-group_item {
        background: $primary;
        max-width: 90px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .header-content {
      padding-top: 100px;
      max-width: 100%;
      .buttons-group {
        display: flex;
        width: 100%;
        &_item:first-child {
          margin-right: 0;
          min-width: auto;
        }
        &_item:last-child {
          min-width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  header {
    height: 520px;
    .header-content {
      .buttons-group {
        flex-wrap: wrap;
        &_item:nth-child(2) {
          width: calc(100% - 138px);
        }
      }
    }
  }
}

