<header>
  <div class="_container">
    <div class="header-content">
      <h1>Encuentra tu especialista y pide cita</h1>
      <br>
      <br>
      <h4>105 179 profesionales están aquí para ayudarte</h4>
      <div class="buttons-group">
        <div class="dropdown-button buttons-group_item">
          <span>ex. Ginecólogo &nbsp;</span>
          <span class="arrow-down"></span>
        </div>
        <div class="dropdown-button buttons-group_item">
          <span>ex. Ginecólogo &nbsp;</span>
          <span class="arrow-down"></span>
        </div>
        <button class="buttons-group_item"><span class="search lupe"></span></button>
      </div>
    </div>
  </div>
</header>
