.cities {
  margin-top: 60px;
  &-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    app-cities-card {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .cities-cards {
    justify-content: space-around;
  }
}

@media screen and (max-width: 620px) {
  .cities-cards {
    justify-content: center;
  }
}
