/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variablers";

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Inter';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: inline;
  color: $text-secondary;
}

h1, h2 {
  font-size: 64px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.hr {
  height: 0px;
  margin: 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $lighten;
}

._container {
  width: 1420px;
  margin: auto;
}

.dropdown-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//////// ICONS ////////

.arrow-up, .arrow-down {
  background: url("./assets/images/select.png");
  width: 13px;
  height: 8px;
  display: inline-block;
  cursor: pointer;
}

.arrow-up {
  transform: rotate(180deg);
}

.lupe {
  background: url("./assets/images/loupe.png");
  width: 18px;
  height: 18px;
  display: block;
  margin: auto;
}

.arrow-right {
  background: url("./assets/images/cta.png");
  width: 20px;
  height: 11px;
  display: block;
  margin: auto;
}

///////// ICONS END /////////

.button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid $text-primary;
  border-radius: 3px;
  color: $text-primary;
  cursor: pointer;
  font-size: inherit;
}

.input-group {
  border-radius: 3px;
}
