<div class="_container">
  <nav class="nav-main">
    <div class="nav-left">
      <div class="user nav-left-item">
        <a href="javascript:void(0);">
          <div class="avatar"></div>
          <h3 class="nick-name">docfav</h3>
        </a>
      </div>
      <div class="dropdown-button nav-left-item">
        <span>Especialidades médicas &nbsp;</span>
        <span class="arrow-down"></span>
      </div>
    </div>

    <div class="nav-right">
      <div class="nav-right-item">
        <a href="javascript:void(0);">Registrarme</a>
      </div>
      <div class="nav-right-item">
        <a href="javascript:void(0);">Iniciar sesión</a>
      </div>
      <div class="nav-right-item">
        <button class="button">Es usted un doctor?</button>
      </div>
    </div>
  </nav>
</div>

