@import "../../../../../assets/styles/variablers";

:host {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: auto;
  color: $text-primary;
  font-size: 16px;

  .nav-left {
    display: flex;
    align-items: center;
    justify-content: start;
    .user {
      display: flex;
      align-items: center;
      margin-right: 80px;
      .avatar {
        width: 40px;
        height: 40px;
        background: $primary;
        border-radius: 100%;
        margin-right: 20px;
      }
    }
    .nick-name {

    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-item {
      margin-left: 35px;
    }
  }
}

