@import "../../../../../assets/styles/variablers";

:host {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: auto;
  color: $text-secondary;
  font-size: 16px;
  a {
    color: inherit;
    text-decoration: none;
  }

  .nav-left {
    display: flex;
    align-items: center;
    justify-content: start;
    .user {
      a {
        display: flex;
        align-items: center;
        margin-right: 80px;
        .avatar {
          width: 40px;
          height: 40px;
          background: $primary;
          border-radius: 100%;
          margin-right: 20px;
        }
      }
    }
    .nick-name {

    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-item {
      margin-left: 35px;
    }
  }
}


@media screen and (max-width: 1200px) {
  :host {
    width: 100%;
  }
  ._container {
    width: calc(100% - 30px);
  }
    .nav-main {
      .nav-left {
        .user {
          a {
            margin-right: 15px;
          }
        }
      }
      .nav-right {
        &-item {
          margin-left: 15px;
        }
      }
    }
}

@media screen and (max-width: 768px) {
  :host {
    display: none;
  }
}
