<div class="burger-button" (click)="toggleMenu()">
  <img [src]="menuIcon" alt="">
</div>
<div class="nav-wrapper" [ngClass]="{'nav-wrapper': true, 'show': showMenu}">
  <div class="_container">
    <nav class="nav-mobile">
      <div class="nav-mobile-header">
        <div class="avatar"></div>
        <h3 class="nick-name">docfav</h3>
      </div>
      <div class="nav-mobile-content">
        <ul class="nav-items">
          <li class="nav-item">
            <div class="dropdown-button">
              <span>Especialidades médicas</span>
            </div>
          </li>
          <li class="nav-item"><a href="javascript:void(0);">Registrarme</a></li>
          <li class="nav-item"><a href="javascript:void(0);">Iniciar sesión</a></li>
          <li class="nav-item"><button class="button">Es usted un doctor?</button></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

