@import "../../../../../assets/styles/variablers";

:host {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  z-index: 999;
}

.burger-button {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  margin-right: 15px;
  margin-top: 15px;
  img {
    width: 100%;
  }
}

.nav-wrapper {
  display: none;
  width: 100%;
  background: rgba(64, 62, 55, 0.9);
  padding-bottom: 30px;
}

.nav-wrapper.show {
  display: block;
}

._container {
  padding: 15px;
}

.nav-mobile {
  * {
    color: $lighten;
  }

  &-header {
    display: flex;
  }
  &-content {
    .nav-items {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      .nav-item {
        margin: 30px 0;
        .dropdown-button {
          justify-content: center;
        }
        span, a, p, button {
          text-decoration: none;
          border-color: $lighten;
        }
      }
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  background: $primary;
  border-radius: 100%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  :host {
    display: block;
  }
}
