<footer class="footer">
  <div class="_container">
    <div class="footer-top">
      <div class="footer-top-column">
        <a href="javascript:void(0);">Privacidad</a>
        <a href="javascript:void(0);">Quiénes somos</a>
        <a href="javascript:void(0);">Empleos</a>
      </div>
      <div class="footer-top-column">
        <a href="javascript:void(0);">Privacidad</a>
        <a href="javascript:void(0);">Quiénes somos</a>
        <a href="javascript:void(0);">Empleos</a>
      </div>
      <div class="footer-top-column">
        <a href="javascript:void(0);">Privacidad</a>
        <a href="javascript:void(0);">Quiénes somos</a>
        <a href="javascript:void(0);">Empleos</a>
      </div>
      <div class="footer-top-column">
        <a href="javascript:void(0);">Privacidad</a>
        <a href="javascript:void(0);">Quiénes somos</a>
        <a href="javascript:void(0);">Empleos</a>
      </div>
    </div>
    <hr class="hr">
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <a href="javascript:void(0);">
          <img src="../../../../../assets/images/Shape1.png" alt="icon">
        </a>
        <a href="javascript:void(0);">
          <img src="../../../../../assets/images/Shape2.png" alt="icon">
        </a>
        <a href="javascript:void(0);">
          <img src="../../../../../assets/images/Shape3.png" alt="icon">
        </a>
      </div>
      <div class="footer-bottom-right">
        <p>Docfav.es © 2019 - Encuentra tu especialista y pide cita. Esta </p>
        <p>Esta página web utiliza cookies. Haz clic aquí para más información. Continúa navegando si estás de acuerdo con las cookies.</p>
      </div>
    </div>
  </div>
</footer>
